@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@keyframes loader-start {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  50% {
    transform: scale(2, 2);
    opacity: 0.3;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}
@keyframes loader-end {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.loader {
  z-index: 100;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  animation: loader-end 3s cubic-bezier(0.5, 0, 0.75, 0) 0.5s forwards;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: loader-start ease-in-out 2s 2;
}
.circle__1 {
  animation-delay: 0.2s;
  background-color: #9356DC;
}
.circle__2 {
  animation-delay: 0.6s;
  background-color: #FF79DA;
}
.circle__3 {
  animation-delay: 1s;
  background-color: #99E2D0;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 900;
}

.gradient-btn {
  padding: 20px;
  background: #FF79DA;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.gradient-btn--cmd {
  margin: 40px auto;
  width: 186px;
  display: block;
}

.gradient-btn:hover {
  cursor: pointer;
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

@media screen and (max-width: 380px) {
  .gradient-btn {
    font-size: 12px;
  }
  .menu__restaurant h1 {
    font-size: 20px;
  }
}
.header {
  z-index: 1;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo {
  width: 197px;
  padding: 15px 0;
  display: block;
  margin: 0 auto;
}
.header.header--restaurant {
  display: flex;
  align-items: center;
}
.header.header--restaurant i {
  margin-left: 20px;
  font-size: 30px;
}

.LocationResearch {
  z-index: 0;
  position: relative;
  padding: 10px;
  height: 50px;
  background-color: #EAEAEA;
  text-align: center;
  display: flex;
  justify-content: center;
}
.LocationResearch__input {
  color: #000;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  width: 120px;
}
.LocationResearch__input::-moz-placeholder {
  color: #000;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
}
.LocationResearch__input::placeholder {
  color: #000;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
}
.LocationResearch__input:focus {
  outline: none;
}

.informations {
  padding: 30px 80px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.informations h1 {
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}
.informations p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.explication {
  margin: 0 20px;
  padding: 30px 0;
}
.explication__step {
  margin: 0 0 20px 10px;
  height: 80px;
  background-color: #F6F6F6;
  border-color: #F6F6F6;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.explication__step__number {
  margin-left: -10px;
  color: white;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 20px;
  text-align: center;
  padding-top: 3px;
}
.explication__step__icone {
  color: #7E7E7E;
}
.explication__step__name {
  font-size: 16px;
  font-weight: 500;
}
.explication__step .fa-store {
  color: #9356DC;
}

.ListRestaurant {
  background-color: #F6F6F6;
  padding: 20px;
}
.ListRestaurant .card-restaurant {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.ListRestaurant .card-restaurant__picture {
  height: 175px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ListRestaurant .card-restaurant__flag {
  padding: 10px 15px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  right: 20px;
}
.ListRestaurant .card-restaurant__content {
  padding: 10px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ListRestaurant .card-restaurant__content h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.ListRestaurant .card-restaurant__content p {
  padding-top: 5px;
  color: #000;
  font-size: 17px;
  font-weight: 300;
}
.ListRestaurant .card-restaurant i {
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-size: 22px;
  pointer-events: initial;
}

.button_fav .fa-solid {
  opacity: 0;
}
.button_fav:active .fa-solid, .button_fav:focus .fa-solid {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s;
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}
.button_fav:active .fa-regular, .button_fav:focus .fa-regular {
  opacity: 0;
}

@media screen and (min-width: 1024px) {
  .button_fav:hover .fa-solid {
    opacity: 1;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.4s;
    background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  }
}
.footer {
  padding: 20px;
  background-color: #353535;
  color: #fff;
}
.footer h2 {
  color: #fff;
  font-size: 18px;
  font-family: shrikhand, sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
}
@media screen and (min-width: 768px) {
  .footer h2 {
    margin: 0 40px 10px;
  }
}
.footer__link {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  gap: 10px;
}
.footer__link a {
  color: #fff;
}
.footer__link i {
  font-size: 12px;
  margin-right: 10px;
}
.footer__link .fa-handshake-angle {
  font-size: 10px;
}

.img-restaurant {
  height: 275px;
}

.menu {
  z-index: 50;
  position: relative;
  margin-top: -50px;
  padding: 20px;
  background-color: #F6F6F6;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.menu__restaurant {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu__restaurant h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 24px;
}
@media screen and (min-width: 350px) {
  .menu__restaurant h1 {
    font-size: 28px;
  }
}
.menu__restaurant i {
  font-size: 22px;
}
.menu__restaurant button {
  cursor: pointer;
  position: relative;
}
.menu__restaurant button i {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #000;
  font-size: 22px;
}
.menu__category {
  padding: 20px;
}
.menu__category:nth-child(1) {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.menu__category:nth-child(2) {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.3s forwards;
}
.menu__category:nth-child(3) {
  opacity: 0;
  animation: fadeIn 1s ease-in-out 0.6s forwards;
}
.menu__category h2 {
  font-size: 16px;
  font-weight: 300;
}
.menu__category h2::after {
  content: "";
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  display: block;
  margin-top: 5px;
}
.menu__category__card {
  overflow: hidden;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  cursor: pointer;
}
.menu__category__card__name {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
}
.menu__category__card__name h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 0 5px 15px;
}
.menu__category__card__name p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 15px;
  font-weight: 300;
  padding: 5px 0 10px 15px;
}
.menu__category__card__price {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  padding: 5px 10px 10px 0;
  transform: translateX(71px);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
.menu__category__card span {
  border-radius: 0 15px 15px 0;
  margin-right: 0px;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: #fff;
  transform: translateX(71px);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
.menu .menu__category__card:hover > .menu__category__card__price {
  transform: translateX(0px);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}
.menu .menu__category__card:hover > .icon {
  transform: translateX(0px);
  transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

@media screen and (min-width: 1024px) {
  body {
    margin: auto;
  }
  .header {
    box-shadow: none;
  }
  .informations h1 {
    font-size: 40px;
    font-weight: 700;
  }
  .explication {
    max-width: 1080px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .explication .stepArea {
    display: flex;
    gap: 30px;
  }
  .explication__step {
    width: 30%;
  }
  .ListRestaurant__container {
    max-width: 1080px;
    margin: auto;
  }
  .ListRestaurant__container__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .ListRestaurant .grid1, .ListRestaurant .grid3 {
    margin-right: 50px;
  }
  .ListRestaurant .grid2, .ListRestaurant .grid4 {
    margin-left: 50px;
  }
  .ListRestaurant__content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .ListRestaurant__content h3 {
    color: #000;
    font-size: 18px;
    font-weight: 700;
  }
  .ListRestaurant__content p {
    color: #000;
    font-size: 17px;
    font-weight: 300;
  }
  .ListRestaurant__icone {
    position: absolute;
    top: 225px;
    right: 45px;
  }
  .ListRestaurant i {
    position: absolute;
    font-size: 1.3rem;
  }
  .ListRestaurant .fa-solid {
    opacity: 0;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  }
  .ListRestaurant .fa-solid:hover {
    opacity: 1;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .footer h2 {
    margin: 30px 20px 20px 100px;
  }
  .footer__link {
    flex-direction: row;
    align-items: center;
  }
  .footer__link__2 {
    margin-right: 30px;
  }
  .img-restaurant {
    height: 350px;
    width: 100%;
  }
  .img-restaurant img {
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .menu {
    max-width: 1055px;
    margin: auto;
    margin-top: -50px;
  }
  .menu__restaurant {
    justify-content: center;
    align-content: center;
    gap: 50px;
  }
  .menu__restaurant__icone i {
    right: 0px;
    top: 8px;
  }
  .menu__category {
    width: 634px;
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */