@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");

// Mes variables

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$back-grey: #EAEAEA;
$grey-light: #F6F6F6;
$gradient-background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);

//Keyframes
@keyframes loader-start {
    0% {
        transform: scale(1,1);
        opacity: 1;
    }
    50% {
        transform: scale(2,2);
        opacity: 0.3;
    }
    100% {
        transform: scale(1,1);
        opacity: 1;
    }
}

@keyframes loader-end {
    0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
        z-index: -1000;
      }
}

// Mobile first

body {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}

// Ronds à animer 
.loader {
    // margin-top: 200px;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #999999;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    animation: loader-end 4s ease 0.5s forwards;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    animation: loader-start ease-in-out 2s 2;

    &__1 {
        animation-delay: 0.2s;
        background-color: $primary-color;
        // animation: circle-1 3s;
    }
    &__2 {
        animation-delay: 0.6s;
        background-color: $secondary-color;
        // animation: circle-1 3s none 0.4s;
    }
    &__3 {
        animation-delay: 1s;
        background-color: $tertiary-color;
        // animation: circle-1 3s none 0.8s;
    }
}

a {
    text-decoration: none;
    color: #000;
}

h2 {
    margin: 30px 0;
    font-size: 24px;
    font-weight: 900;
}

.gradient-btn {
    padding: 20px;
    background: #FF79DA;
    background: -moz-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
    background: -webkit-linear-gradient(top, #FF79DA 0%, #9356DC 100%);
    background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 30px;
    border: none;
    -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.25);

    &--cmd {
        margin: 40px auto;
        width: 186px;
        display: block;  
    }
}

.gradient-btn:hover {
    cursor: pointer;
    opacity: 0.85;
    -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.35); 
    box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.35);
}

.header {
    z-index: 100;
    position: relative;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15); 
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15);

    &__logo {
        width: 197px;
        padding: 15px 0;
        display: block;
        margin:0 auto;
    }

    &.header--restaurant {
        display: flex;
        align-items: center;

        i {
            margin-left: 20px;
            font-size: 30px;
        }
    }
}

.LocationResearch {

    z-index: 0;
    position: relative;
    padding: 10px;
    height: 50px;
    background-color: $back-grey;
    text-align: center;
    display: flex;
    justify-content: center;

    &__input {
        color: #000;
        border-color: transparent;
        background-color: transparent;
        font-size: 16px;
        font-weight: 500;
        width: 120px;

        &::placeholder {
            color: #000;
            border-color: transparent;
            background-color: transparent;
            font-size: 16px;
            font-weight: 500;
        }

        &:focus {
            outline: none;
        }

    }

    
}

.informations {

    padding: 30px 80px;
    background-color: $grey-light;
    display: flex;
    flex-direction: column;
    align-items:center ;
    gap: 20px;

    h1 {
        font-size: 24px;
        font-weight: 900;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        text-align: center;
    }


}

.explication {

    margin: 0 20px;
    padding: 30px 0;

    &__step {
        margin: 0 0 20px 10px;
        height: 80px;
        background-color: $grey-light;
        border-color: $grey-light;
        border-radius: 20px;
        display: flex;
        align-items: center;
        gap: 30px;
        -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15); 
        box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.15);

        &__number {
            margin-left: -10px;
            color: white;
            width: 24px;
            height: 24px;
            background-color: $primary-color;
            border-radius: 20px;
            text-align: center;
            padding-top: 3px;
        }

        &__icone {
            color: #7E7E7E;;
        }

        &__name {
            font-size: 16px;
            font-weight: 500;
        }

        .fa-store {
            color: $primary-color;
        }
    }
}

.ListRestaurant {

    background-color: $grey-light;
    padding: 20px;
    
    .card-restaurant{

        background-color: #fff;
        border-radius: 20px;
        overflow: hidden;
        position: relative;
        margin-bottom: 20px;

        &__picture {
            height: 175px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &__flag {
            padding: 10px 15px;
            background-color: $tertiary-color;
            color: #008766;
            border-radius: 5px;
            font-size: 14px;
            font-weight: 500;
            position: absolute;
            top: 20px;
            right: 20px;
        }

        &__content {

            padding: 20px;
            display: flex;
            justify-content: space-between;

            h3 {
                color: #000;
                font-size: 18px;
                font-weight: 700;
            }
            p{
                color: #000;
                font-size: 17px;
                font-weight: 300;
            }
            
        }

        &__icone {

            i {
                
                // z-index: 50;
                position: absolute;
                right: 20px;
                bottom: 40px;
                // color: #000;
                font-size: 22px;
                pointer-events: initial;
            }
    
            .fa-solid {

                // z-index: 150;
                // display: block;
                // position: absolute;
                // right: 20px;
                // bottom: 40px;
                opacity: 0;

                // Essai coeur rempli au clic
            }

            &:active .fa-solid, &:focus .fa-solid {
                opacity: 1;
                color: transparent;
                background-clip: text;
                -webkit-background-clip: text;
                transition: all 0.4s infinite;
                background-image: $gradient-background;
            }

            &:active .fa-regular, &:focus .fa-regular {
                opacity: 0;
            }
        }
    }
}

.footer {

    padding: 20px;
    background-color: #353535;
    color: #fff;

    &__logo {
        width: 137px;
        padding: 20px 0;
        filter: invert(100%) sepia(100%) saturate(29%) hue-rotate(70deg) brightness(107%) contrast(108%);
    }

    &__link {

        display: flex;
        flex-direction: column;
        font-size: 16px;
        font-weight: 500;
        gap: 10px;

        a {
            color: #fff;
        }

        i {
            font-size: 12px;
            margin-right: 10px;
        }

        .fa-handshake-angle {
            font-size: 10px;
        }
    }

}

.img-restaurant {

    height: 275px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;

}

.menu {

    z-index: 50;
    position: relative;
    margin-top: -50px;
    padding: 20px;
    background-color: $grey-light;
    border-top-right-radius:30px ;
    border-top-left-radius: 30px;

    &__restaurant {
        display: flex;
        justify-content: space-between;
        align-content: center;

        h1 {
            font-family: 'Shrikhand', sans-serif;
            font-size: 28px;
        }
    
        i {
            font-size: 22px;
        }

        &__icone {

            position: relative;

            i {
                position: absolute;
                right: 20px;
                color: #000;
                font-size: 22px;
            }
    
            .fa-solid {
                opacity: 0;
        
                &:hover {
                    opacity: 1;
                    color: transparent;
                    background-clip: text;
                    -webkit-background-clip: text;
                    transition: all 0.4s ease-in-out;
                    background-image: $gradient-background;
                }

                // &:active {

                // }
            }
        }
    }

    &__category {

        margin-top: 40px;

        h2 {
            font-size: 16px;
            font-weight: 300;
        }

        h2::after {
            content: '';
            border-bottom: 3px solid $tertiary-color;
            width: 40px;
            display: block;
            margin-top: 5px;
        }

        &__card {

            padding: 20px;
            margin-top: 20px;
            background-color: #fff;
            border-radius: 15px;
            -webkit-box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1); 
            box-shadow: 0px 4px 15px 0px rgba(0,0,0,0.1);

            h3 {
                font-size: 18;
                font-weight: 500;
            }

            p {
                font-size: 15px;
                font-weight: 300;
            }

            span {
                font-size: 15;
                font-weight: 700;
            }

            &__price {
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}


// Desktop 

@media screen and (min-width:1024px) {

    body {
        margin: auto;
    }

    .header {
        box-shadow: none;
    }

    .informations {
    
        h1 {
            font-size: 40px;
            font-weight: 700;
        }
    }

    .explication {
        
        max-width: 1080px;
        margin: auto;
        display: flex;
        flex-direction: column;
    
        .stepArea {
            display: flex;
            gap: 30px;
        }
        
        &__step {

            width: 30%;
        }
    }

    .ListRestaurant {

        &__container {
            max-width: 1080px;
            margin: auto;

            &__cards {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        .grid1, .grid3 {
            margin-right: 50px;
        }

        .grid2, .grid4 {
            margin-left: 50px;
        }

        &__content {

            padding: 20px;
            display: flex;
            justify-content: space-between;

            h3 {
                color: #000;
                font-size: 18px;
                font-weight: 700;
            }
            p{
                color: #000;
                font-size: 17px;
                font-weight: 300;
            }
            
        }

        &__icone {
            position: absolute;
            top: 225px;
            right: 45px;
            }
            i {
            position: absolute;
            font-size: 1.3rem;
            }
            .fa-solid {
            opacity: 0;
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            transition: all 0.4s ease-in-out;
            background-image: $gradient-background;
            &:hover {
                opacity: 1;
            }
        }
    }

    .footer {

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: 50px;

        &__logo {
            margin-right: 40px;
        }

        &__link {
            display: flex;
            flex-direction: row;

            &__2 {
                margin-right: 40px;
            }
        }
    }

    // Problème ici hauteur image

    // .img-restaurant {
    //     height: 383px;

    //     img {
    //         height: unset;
    //         height: 383;
    //         object-fit: cover;
    //     }
    // }

    .img-restaurant {
        height: 350px;
        width: 100%;
        img {
          width: 100%;
          height: 350px;
          object-fit: cover;
        }
      }

    .menu {
        max-width: 1055px;
        margin: auto;
        margin-top: -50px;

        &__restaurant {

            //rapprocher h1 zt i
            justify-content: center;
            align-content: center;
            gap: 50px;

            &__icone {
                i {
                    right: 0px;
                    top: 8px;
                }
                
            }
        }

        &__category {
            width: 634px;
            margin: auto;
        }
    }
}