@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeOut 1s;
}

.dot {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}

.dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #9356DC;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #FF79DA;
}

.dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #99E2D0;
}

.dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #F6F6F6;
}

.dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #EAEAEA;
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -100;
  }
}
a {
  text-decoration: none;
  color: #000;
}

h2 {
  margin: 30px 0;
  font-size: 24px;
  font-weight: 900;
}

.gradient-btn {
  padding: 20px;
  background: #FF79DA;
  background: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.gradient-btn--cmd {
  margin: 40px auto;
  width: 186px;
  display: block;
}

.gradient-btn:hover {
  cursor: pointer;
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.header {
  z-index: 100;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo {
  width: 197px;
  padding: 15px 0;
  display: block;
  margin: 0 auto;
}
.header.header--restaurant {
  display: flex;
  align-items: center;
}
.header.header--restaurant i {
  margin-left: 20px;
  font-size: 30px;
}

.LocationResearch {
  z-index: 0;
  position: relative;
  padding: 10px;
  height: 50px;
  background-color: #EAEAEA;
  text-align: center;
  display: flex;
  justify-content: center;
}
.LocationResearch__input {
  color: #000;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  width: 120px;
}
.LocationResearch__input::-moz-placeholder {
  color: #000;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
}
.LocationResearch__input::placeholder {
  color: #000;
  border-color: transparent;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
}
.LocationResearch__input:focus {
  outline: none;
}

.informations {
  padding: 30px 80px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.informations h1 {
  font-size: 24px;
  font-weight: 900;
}
.informations p {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

.explication {
  margin: 0 20px;
  padding: 30px 0;
}
.explication__step {
  margin: 0 0 20px 10px;
  height: 80px;
  background-color: #F6F6F6;
  border-color: #F6F6F6;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.explication__step__number {
  margin-left: -10px;
  color: white;
  width: 24px;
  height: 24px;
  background-color: #9356DC;
  border-radius: 20px;
  text-align: center;
  padding-top: 3px;
}
.explication__step__icone {
  color: #7E7E7E;
}
.explication__step__name {
  font-size: 16px;
  font-weight: 500;
}
.explication__step .fa-store {
  color: #9356DC;
}

.ListRestaurant {
  background-color: #F6F6F6;
  padding: 20px;
}
.ListRestaurant .card-restaurant {
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.ListRestaurant .card-restaurant__picture {
  height: 175px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ListRestaurant .card-restaurant__flag {
  padding: 10px 15px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  top: 20px;
  right: 20px;
}
.ListRestaurant .card-restaurant__content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.ListRestaurant .card-restaurant__content h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
}
.ListRestaurant .card-restaurant__content p {
  color: #000;
  font-size: 17px;
  font-weight: 300;
}
.ListRestaurant .card-restaurant__icone i {
  position: absolute;
  right: 20px;
  bottom: 40px;
  color: #000;
  font-size: 22px;
  pointer-events: initial;
}
.ListRestaurant .card-restaurant__icone .fa-solid {
  opacity: 0;
}
.ListRestaurant .card-restaurant__icone .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}
.ListRestaurant .card-restaurant__icone .fa-solid:active {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}

.footer {
  padding: 20px;
  background-color: #353535;
  color: #fff;
}
.footer__logo {
  width: 137px;
  padding: 20px 0;
  filter: invert(100%) sepia(100%) saturate(29%) hue-rotate(70deg) brightness(107%) contrast(108%);
}
.footer__link {
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}
.footer__link i {
  font-size: 12px;
  margin-right: 10px;
}
.footer__link .fa-handshake-angle {
  font-size: 10px;
}

.img-restaurant {
  height: 275px;
}

.menu {
  z-index: 50;
  position: relative;
  margin-top: -50px;
  padding: 20px;
  background-color: #F6F6F6;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
.menu__restaurant {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.menu__restaurant h1 {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
}
.menu__restaurant i {
  font-size: 22px;
}
.menu__restaurant__icone {
  position: relative;
}
.menu__restaurant__icone i {
  position: absolute;
  right: 20px;
  color: #000;
  font-size: 22px;
}
.menu__restaurant__icone .fa-solid {
  opacity: 0;
}
.menu__restaurant__icone .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.4s ease-in-out;
  background-image: linear-gradient(to bottom, #FF79DA 0%, #9356DC 100%);
}
.menu__category {
  margin-top: 40px;
}
.menu__category h2 {
  font-size: 16px;
  font-weight: 300;
}
.menu__category h2::after {
  content: "";
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  display: block;
  margin-top: 5px;
}
.menu__category__card {
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.menu__category__card h3 {
  font-size: 18;
  font-weight: 500;
}
.menu__category__card p {
  font-size: 15px;
  font-weight: 300;
}
.menu__category__card span {
  font-size: 15;
  font-weight: 700;
}
.menu__category__card__price {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) {
  body {
    width: 1000px;
  }
}/*# sourceMappingURL=style.css.map */